@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(50, 65, 67, 1) 100%);
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

ul {
	list-style: none;
}
